{% extends 'base.html' %}

<!-- head -->
{% block head %}
<title>Flask Project 1</title>
{% endblock %}

<!-- body -->
{% block body %}
<h1>Hello from GuniCorn Server: Task TODO Table.</h1>
<div class="content">
	{% if tasks|length > 0 %}

	<h4>Tasks TODO</h4>
	<!-- create a delete all button -->
	<div class="delete_all">
		<a href="/delete_all_tasks" class="button" >Delete All Tasks</a>
	</div>
	
	<table>
		<tr>
			<th>Task</th>
			<th>Date Added</th>
			<th>Action</th>
		</tr>
		{% for task in tasks %}
		<tr>
			<td>{{task.content}}</td>
			<td>{{task.date_created}}</td>
			<td>
				<a href="/delete/{{task.id}}">Delete</a>
				<br />
				<a href="/edit/{{task.id}}">Edit</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	{% else %}
	<h3>You currently do not have a task to do. Kindly add take using the form below</h3>
	{% endif %}
	
</div>

<!-- Form for entries -->
<div class="entries">
	<!-- <h4>
		Add a new task
	</h4> -->
	<form action="/" method="post">
		<input type="text" name="Task_content" id="contents" />
		<br>
		<input class="button" type="submit" value="Add Tasks" />
	</form>
</div>


{%endblock%}
