body{
    background-color: #967474;
    /* create a consolas font */
    font-family: 'Consolas', monospace;
    /* set the font size to 16px */
    font-size: 16px;
}

table,
th,
td {
	border: 1px solid black;
}

table{
    width: 100%;
}

h4{
    text-align: center;
    /* bolded underline */
    text-decoration: underline overline #000000 solid 5px;
}

form{
    text-align: center;
    /* set width */
}

.form{
    font-family: 'Courier New', Courier, monospace;
}

/* increase the width of the input tag */
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}
