body{
    background-color: #967474;
    /* create a consolas font */
    font-family: 'Consolas', monospace;
    /* set the font size to 16px */
    font-size: 16px;
}

table,
th,
td {
	border: 1px solid black;
}

table{
    width: 100%;
}

h4,h3{
    text-align: center;
}

form{
    text-align: center;
    /* set width */
}

.form{
    font-family: 'Courier New', Courier, monospace;
}

.entries{
    /* add margin to the top */
    margin-top: 30px;
}

/* increase the width of the input tag */
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}

.button {
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
    background: #b6c4ca;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
    text-decoration: none;
}

.delete_all{
    margin-bottom: 15px;
}

.cancel_update{
    text-align: center;
    margin-top: 15px;
}

a{
    text-decoration: none;
}

.btn {
    background-color: #b6c4ca;
    color: white;
    padding: 5px 10px;
    border: olive;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}
